<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
  <title>Content page 1</title>
</head>
<body>
  <!-- Main Content -->
  <div layout:fragment="content" id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
  <script layout:fragment="script" src="./js/index.js"></script>
</body>
</html>
